.slider h3,
.slider h5 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.about-us {
  margin-bottom: 50px;
}

.parallax-container {
  height: 18%;
  margin-top: 50px;
}

.parallax img {
  filter: grayscale(0.8);
  opacity: 0.5 !important;
}

.clients img {
  max-width: 150px;
}

section {
  padding: 20px 0;
}

.mporto {
  margin-bottom: 45px;
}

.footer {
  padding: 20px 0;
}
